.social-nav-bar{
  display: block;
  width: fit-content;


  ul {
    display: block;
    right: 0;
    float: right;
    margin: 0;
    padding: 0;
    width: fit-content;

    li {
      list-style: none;
      display: inline-block;
      margin: 1em 2em 0 0;


      a {
        //color: $color__coffee;
        color: white;
        text-decoration: none;
        font-family: $font__header;
        display: block;
      }
    }
  }
}

@media screen and (min-width: 37.5em){
  .social-nav-bar{
    //margin-left: 50%;
  }
}