.site-header {
  padding: 0.5em;
  background-color: $color__coffee;
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 99;
}

.site-branding {
  display: flex;
}

.custom-logo-link {
  flex: 0 0 auto;
}

.site-identity {
  padding-left: 0.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.site-title {
  margin: 0;
  font-family: $font__header;
  font-size: 3em;

  a {
    color: $color__text-main;
    text-decoration: none;
    text-transform: uppercase;
  }
}

.site-description {
  margin: 0;
  color: $color__text-main;
  font-family: $font__mainText;
  cursor: default;
}

//all other css can be seen navigation directory - menus.scss
.main-navigation {
  margin-left: auto;
  width: auto;

  a {
    color: $color__text-main;
    font-family: $font__mainText;
    font-size: 0.975em;
    letter-spacing: 0.05em;

    &:hover {
      opacity: 0.65;
    }
  }
}

//header image
.site-header-image {
  padding: 0;
  margin: 0;
  top: 0;

  .header-image {
    max-height: 40vh;
    overflow: hidden;
    top: 0;
    display: block;
    margin: 0;
    padding: 0;

    img {
      display: block;
      width: 100vw;
      margin: 0;
      padding: 0;
    }
  }
}