.menu{
  width: 100%;
  ul{
    justify-content: space-between;
    li{
      margin: 0 .5em;
    }
  }
}
//social media nav bar
.social-nav-bar{
  @include header-with-background;
  -webkit-border-radius: 0 0 0 2em;
  -moz-border-radius: 0 0 0 2em;
  border-radius: 0 0 0 2em;
  position:fixed;
  z-index: 5;
  right: 0;
  .menu{
    margin: 0;
  }

}
