.site-footer {
  background-color: $color__coffee;
  padding: 1em;
  align-content: center;
  .site-info{
    text-align: center;
    color: white;
    width: 100%;
    a{
      color: white;
    }
  }
}