.site-footer {
  flex-shrink: 0;
  background-color: $color__coffee;
  text-align: center;

  .site-info {
    a {
      color: $color__text-main;
      font-family: $font__footer;
      font-size: 0.875em;
      font-weight: bold;
      text-transform: uppercase;
    }
  }
}