.site-footer {
  flex-shrink: 0;
  background-color: $color__footer;
  text-align: center;
  padding-bottom: 0.5em;

  .site-info {
    display: flex;
    justify-content: center;
    color: $color__text-footer;
    font-family: $font__footer;
    text-transform: uppercase;

    div {
      padding: 1.5em;
    }

    h1 {
      font-size: 0.875em;
    }
  }
}