$font__serif: 'PT Serif Caption', serif;;
$font__sans: 'Source Sans Pro', sans-serif;;
$font__calibri: calibri;
$font__cooper: "Cooper Black";
$font__thick: 'Wendy One', sans-serif;
$font__heebo: 'Heebo', sans-serif;
$font__main: sans-serif;
$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;
