.site-content{
  width: 80%;
  margin: 0 auto;
  background-color: white;
  padding: 0 2em;
  font-family: $font__mainText;
  font-size: large;
  h1, h2, h3{
    font-family: $font__header;
    a{
      color: $color__coffee;
      text-decoration: none;
    }
  }
}

.content-area{
  width: 100%;
  padding-right: 2em;
  margin: 0;

}
.widget-area{
  display: flex;
  width: 100%;
  position: relative;
}

@media screen and (max-width: 1024px) {
  .content-area, .widget-area, .site-branding, .main-navigation{
    @include small-screen;
  }
  .call-to-action{
    top: 0;
  }
}

