.widget {
	padding: 1em;
	//border-radius: 2px;
	//border-bottom: 1px solid white;
	margin: 0;

	/* Make sure select elements fit in widgets. */
	select {
		max-width: 100%;
	}
}

.widget-area{
	//display: flex;
	justify-content: space-between;
	background-color: $color__coffee;
	margin-top: 1em;
	padding: 1em;
	color: white;
	h2{
		color: white;
	}
	ul{
		width: 100%;
		padding: 0;
		margin: 0;
		li{
			list-style: none;
			a{
				color: white;
			}
		}
	}
}

.sidebar{
	float: right;
}
